<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LegalKaam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/../admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/../admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/../admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/../admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/../admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/../admin/images/favicon.png" />
    <script src="https://cdn.tiny.cloud/1/9e7y565a68c02tp5dds9x500uc55osff3f8wdesdx00krtam/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#aboutdesc1'
      });
    </script>
  </head>
  <body>
    <div class="container-scroller">
      <%- include("../partials/admin/main.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <% if(isSuccess){ %> 
              <div class = "alert alert-primary text-center mb-1">
                <a href = "#" class = "close" data-dismiss = "alert" aria-label="close">&times;</a>
                    <% _.forEach(successMsg, (error) => { %>
                      <%= error %>
                    <% }) %>
              </div>
            <% } %>
            <div class="page-header">
              <h3 class="page-title"> Add a Service</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Services</a></li>
                  <li class="breadcrumb-item active" aria-current="page">About Page Details</li>
                </ol>
              </nav>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <form class="forms-sample" action = "/admin/add/about/" method = "post" encType="multipart/form-data">
                        <div class="form-group">
                          <label for="exampleInputUsername1">Heading</label>
                          <input type="text" name = "heading" class="form-control" id="exampleInputUsername1" placeholder="Category Name Here.." value = "<%= about.heading %>">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputUsername1">Quote</label>
                          <input type="text" name = "quote" class="form-control" id="exampleInputUsername1" placeholder="Category Name Here.." value = "<%= about.quote %>">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputUsername1">Description</label>
                          <textarea class="form-control my-3" name = "desc" id="aboutdesc1" placeholder = "Enter Description here.." rows="4"><%= about.desc %></textarea>
                        </div>
                        <!-- <div class="form-group">
                          <label for="exampleInputUsername1">Description Image</label>
                          <input type="text" name = "descimg" class="form-control" id="exampleInputUsername1" placeholder="Category Name Here.." value = "<%= about.descimg %>">
                        </div> -->
                        <% for(var i = 0; i < 5; i++){ %>
                          <% if(about.employees[i]){ %>
                            <div class="form-group">
                              <label for="exampleInputUsername1">Enter Employee <%= i+1 %> Details</label>
                              <input type="text" name = "ename<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Name" value = "<%= about.employees[i].name %>">
                              <!-- <input type="text" name = "eimg<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Image" value = "<%= about.employees[i].image %>"> -->
                              <div class="form-group my-2">
                              <input type="file" name="eimg<%= i+1 %>" class="file-upload-default" required>
                              <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                <span class="input-group-append">
                                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                              </div>
                            </div>
                              <input type="text" name = "edesig<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Designation" value = "<%= about.employees[i].designation %>">
                              <input type="text" name = "edesc<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Description" value = "<%= about.employees[i].desc %>">
                              <input type="text" name = "facebook<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Facebook Profile" value = "<%= about.employees[i].facebook %>">
                              <input type="text" name = "twitter<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Twitter Profile" value = "<%= about.employees[i].twitter %>">
                              <input type="text" name = "linkedin<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Linkedin Profile" value = "<%= about.employees[i].linkedin %>">
                            </div>
                          <% }else{ %>
                            <label for="exampleInputUsername1">Enter Employee <%= i +1 %> Details</label>
                            <input type="text" name = "ename<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Name">
                            <div class="form-group my-2">
                              <input type="file" name="eimg<%= i+1 %>" class="file-upload-default" required>
                              <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                <span class="input-group-append">
                                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                              </div>
                            </div>
                            <input type="text" name = "edesig<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Designation">
                            <input type="text" name = "edesc<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Description">
                            <input type="text" name = "facebook<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Facebook Profile">
                              <input type="text" name = "twitter<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Twitter Profile">
                              <input type="text" name = "linkedin<%= i+1 %>" class="form-control mt-2" id="exampleInputUsername1" placeholder="Employee Linkedin Profile">
                          <% } %>
                        <% } %>
                        <button type="submit" class="btn btn-primary py-3 btn-block ">Submit</button>
                      </form>
                </div>
            </div>
          </div>
      </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/../admin/vendors/select2/select2.min.js"></script>
    <script src="/../admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/../admin/js/off-canvas.js"></script>
    <script src="/../admin/js/hoverable-collapse.js"></script>
    <script src="/../admin/js/misc.js"></script>
    <script src="/../admin/js/settings.js"></script>
    <script src="/../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/../admin/js/file-upload.js"></script>
    <script src="/../admin/js/typeahead.js"></script>
    <script src="/../admin/js/select2.js"></script>
    <!-- End custom js for this page -->
    <script>
       function addFields() {
        debugger;
        var number = document.getElementsByClassName("nooftickets")[0].value;
        var container = document.getElementById("subcontainer");
        container.innerHTML = '';
        for (i = 0; i < number; i++) {
          container.appendChild(document.createTextNode("Step " + (i + 1) + " "));
          var input = document.createElement("input");
          input.type = "text";
          input.style.margin = "5px 0";
          input.style.width = "100%";
          input.name = "name";
          //input.required= true;
          container.appendChild(input);
          container.appendChild(document.createElement("br"));
        }
      }

    </script>
  </body>
</html>
