<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LegalKaam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/../admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/../admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/../admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/../admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/../admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/../admin/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <%- include("../partials/admin/main.ejs") %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> All Notifications</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class = "btn btn-primary" href="/export/contacts/">Export Excel File</a></li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <% allnotifications.forEach((notification) => { %>
                <div class = "col-lg-4 col-md-6 my-3">
                    <div class = "card w-100 h-100">
                        <div class = "card-body">
                          <% if(notification.subcat){ %>
                            <p>Service: <%= notification.subcat.name %></p>
                          <% }else{ %>
                            <p>Service: No</p>
                          <% } %>
                          <p>From: <%= notification.name %></p>
                          <p>email: <%= notification.email %></p>
                          <p>contact: <%= notification.contact %></p>
                          <% if(notification.message){ %>
                            <p>message: <%= notification.message %></p>
                          <% } %>
                          <p>Query type: <span class = "badge badge-primary"><%= notification.qtype %></p></p>
                          <p class = "text-muted mb-5"><%= moment(notification.created).startOf('second').fromNow() %></p>
                          <!-- <form class = "form-group" action="/mark/read/" method="post" style = "position: absolute; bottom: 0px;">
                              <button type="submit" class = "btn btn-primary btn-block" name="id" value="<%= notification._id %>" class="btn-link">Mark Read</button>
                          </form> -->
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
          </div>
      </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/../admin/vendors/select2/select2.min.js"></script>
    <script src="/../admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/../admin/js/off-canvas.js"></script>
    <script src="/../admin/js/hoverable-collapse.js"></script>
    <script src="/../admin/js/misc.js"></script>
    <script src="/../admin/js/settings.js"></script>
    <script src="/../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/../admin/js/file-upload.js"></script>
    <script src="/../admin/js/typeahead.js"></script>
    <script src="/../admin/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>