<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LegalKaam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/../admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/../admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/../admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/../admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/../admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/../admin/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <%- include("../partials/admin/main.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Add a Service</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Services</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Service</li>
                </ol>
              </nav>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <form class="forms-sample" action = "/admin/edit/service/" method = "post" enctype = "multipart/form-data">
                      <div class="form-group">
                        <label>Select Category</label>
                        <select class="js-example-basic-single" name="subcat" style="width:100%">
                          <% subcats.forEach((subcat) => { %>
                            <option value = "<%= subcat._id %>"><%= subcat.name %></option>
                        <% }) %>
                        </select>
                      </div>
                        <div class="form-group">
                          <label for="exampleInputUsername1">Edit Service Name</label>
                          <input type="text" value = "<%= service._id %>" name = "subcatid" hidden>
                          <input type="text" name = "subcatname" value = "<%= service.name %>" class="form-control" id="exampleInputUsername1" placeholder="Service Name Here..">
                        </div>

                        <div class="form-group">
                          <label>File upload</label>
                          <input type="file" name="headbg" class="file-upload-default" value = "">
                          <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" name = "tempheadbg" disabled placeholder="Upload Image" value = "">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Requirements</label>
                          <textarea class="form-control" name = "requirements" id="editor1" rows="4"><%- service.desc %></textarea>
                        </div>
                        <div class="form-group">
                          <label for="exampleTextarea1">Important</label>
                          <textarea class="form-control" name = "important" id="editor1" rows="4"><%- service.important %></textarea>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Subscription Amount</label>
                          <input type="number" class = "form-control" name="subs" id="" placeholder = "enter Subscription Amount" value = "<%= service.subs %>">
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Benefits from Subscription</label>
                          <% for(var i = 0; i < 5; i++){ %>
                            <% if(benefits[i]){ %>
                              <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 1" value = "<%= benefits[i] %>">
                            <% }else{ %>
                              <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 1">
                            <% } %>
                          <% } %>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Documents Required</label>
                          <% for(var i = 0; i < 2; i++){ %>
                            <% if(documents[i]){ %>
                              <input type="text" class = "form-control" name="head<%= i+1 %>" id="" placeholder = "enter document 1 heading" value = "<%= documents[i].title %>">
                              <textarea name="desc<%= i+1 %>" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "enter document 1 desc"><%= documents[i].desc %></textarea>
                            <% }else{ %>
                              <input type="text" class = "form-control" name="head<%= i+1 %>" id="" placeholder = "enter document 2 heading">
                              <textarea name="desc<%= i+1 %>" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "enter document 2 desc"></textarea>
                            <% } %>
                          <% } %>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Basic Features Required</label>
                          <% for(var i = 0; i < 6; i++){ %>
                            <% if(features[i]){ %>
                              <input type="text" class = "form-control" name="bhead<%= i+1 %>" id="" placeholder = "enter feature <%= i+1 %> heading" value = "<%= features[i].head %>">
                              <textarea name="bdesc<%= i+1 %>" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "enter feature <%= i+1 %> desc"><%= features[i].desc %></textarea>
                            <% }else{ %>
                              <input type="text" class = "form-control" name="bhead<%= i+1 %>" id="" placeholder = "enter feature <%= i+1 %> heading">
                              <textarea name="bdesc<%= i+1 %>" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "enter feature <%= i+1 %> desc"></textarea>
                            <% } %>
                          <% } %>
                          
                        </div>
                        
                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Steps</label>
                          <% for(var i = 0; i < 5; i++){ %>
                            <% if(steps[i]){ %>
                              <input type="text" class = "form-control my-2" name="name" id="" placeholder = "enter feature <%= i+1 %> heading" value = "<%= steps[i] %>">
                            <% }else{ %>
                              <input type="text" class = "form-control my-2" name="name" id="" placeholder = "enter feature <%= i+1 %> heading">
                            <% } %>
                          <% } %>
                        </div>

                        <button type="submit" class="btn btn-primary py-3 btn-block ">Submit</button>
                      </form>
                </div>
                <% services.forEach((service) => { %>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <p><%= service.name %></p>
                          </div>
                        </div>
                      </div>
                <% }) %>
            </div>
          </div>
      </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/../admin/vendors/select2/select2.min.js"></script>
    <script src="/../admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/../admin/js/off-canvas.js"></script>
    <script src="/../admin/js/hoverable-collapse.js"></script>
    <script src="/../admin/js/misc.js"></script>
    <script src="/../admin/js/settings.js"></script>
    <script src="/../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/../admin/js/file-upload.js"></script>
    <script src="/../admin/js/typeahead.js"></script>
    <script src="/../admin/js/select2.js"></script>
    <!-- End custom js for this page -->
    <script>
       function addFields() {
        debugger;
        var number = document.getElementsByClassName("nooftickets")[0].value;
        var container = document.getElementById("subcontainer");
        container.innerHTML = '';
        for (i = 0; i < number; i++) {
          container.appendChild(document.createTextNode("Step " + (i + 1) + " "));
          var input = document.createElement("input");
          input.type = "text";
          input.style.margin = "5px 0";
          input.style.width = "100%";
          input.name = "name";
          //input.required= true;
          container.appendChild(input);
          container.appendChild(document.createElement("br"));
        }
      }

    </script>
  </body>
</html>