<footer class="footer has-dot-pattern sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget about-widget">
                    <a href="index.html"><img src="/img/logo.png" alt="Awesome Image"/></a>						
                    <p style="text-align: justify;background: transparent"><%- details.desc %></p>
                    <br/>
                    <div class="clearfix">
                </div><!-- /.row -->
            </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget link-widget">
                    <div class="sec-title white medium">
                        <h2>Usefull Links</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <div class="clearfix">
                        <div class="col-md-6">
                            <ul class="links">
                                <% for(let i = 0; i < 6; i++){ %>
                                    <% if(details.footer[i].name != ''){ %>
                                        <li><a href="<%= details.footer[i].link %>"><%= details.footer[i].name %></a></li>
                                    <% } %>
                                <% } %>
                            </ul><!-- /.links -->		
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <ul class="links">
                                <% for(let i = 6; i < 12; i++){ %>
                                    <% if(details.footer[i].name != ''){ %>
                                        <li><a href="<%= details.footer[i].link %>"><%= details.footer[i].name %></a></li>
                                    <% } %>
                                <% } %>
                            </ul><!-- /.links -->		
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                    
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget about-widget">
                    <div class="sec-title white medium">
                        <h2>Contact Us</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <ul class="contact-info">
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-map-marker"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p><%= details.address %></p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="text-box">
                                <p>Present At: Delhi | Mumbai | Punjab | Bangalore | Pune</p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p><a href="tel:+91<%= details.mainPh %>" style="color: inherit;"><%= details.mainPh %></a></p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p><a href="mailto:<%= details.email %>" style="color: inherit;"><%= details.email %></a></p>
                            </div><!-- /.text-box -->
                        </li>							
                    </ul>
                    <div class="social pull-left">
                        <ul class="list-inline">
                            <li><a href="<%= details.facebook %>" target = "_blank" style="background-color: #3b5998;"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="<%= details.twitter %>" target = "_blank" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);;"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="<%= details.youtube %>" target = "_blank" style="background-color: #c4302b;"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="<%= details.linkedin %>" target = "_blank" style="background-color: #0e76a8;"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="<%= details.justdial %>" target = "_blank" style="background-color: #fff;"><img src = "/img/social/justdial.jpeg" style = "width: 20px;margin-top: -5px" /></a></li>
                        </ul><!-- /.list-inline -->
                    </div><!-- /.social pull-right -->
                    
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-2 col-md-12">
                <div class="single-footer-widget link-widget">
                    <div class="sec-title white medium">
                        <h2>Payments</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <ul class="payment-info">
                        <li>
                            <img src="/img//razorpay.jpg" style="max-width:100%; max-height:100%; object-fit: cover;">
                        </li>							
                    </ul>
                    <br/>
                    <div class="col-md-12">
                        <ul class="links">
                            <li><a href="/terms/terms-and-conditions">Terms & Conditions</a></li>
                            <li><a href="/terms/refund">Refund Policy</a></li>
                            <li><a href="/terms/privacy">Privacy Policy</a></li>
                        </ul><!-- /.links -->		
                    </div><!-- /.col-md-12 -->
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- /.footer -->

<section class="footer-bottom">
    <div class="container">
        <div class="copyright">
            <p>© 2022 LegalKaam. All rights reserved.</p>
        </div><!-- /.copyright pull-left -->
    </div><!-- /.container -->
</section><!-- /.footer-bottom -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<!--WhatsApp-->
<div class="whatsapp">
    <a class="bounce" target="_blank" href="https://api.whatsapp.com/send?phone=+91<%= details.whatsappno %>"><i class="fa fa-whatsapp "></i></a>
</div>