<header class="header header-fixed header-1">
	<div class="header-top">
		<div class="container">
			<div class="left-info pull-left">
				<ul class="list-inline">
					<li>
						<span>
							<i class="fa fa-phone"></i> +91 <%= details.mainPh %>
						</span>
					</li>
				</ul>
			</div><!-- /.left-info -->
			<div class="search-info">
				<ul class="list-inline">	
                    <li class="mobile-search">
                        <span class="src-menu search-box">
                            <form action="/search/service" method = "get" class="clearfix">
                                <input type="text" name = "search" placeholder="Search Here" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </span>
					</li>				
				</ul>
			</div><!-- /.right-info -->
			<div class="right-info pull-right">
				<ul class="list-inline">
					<li>
						<span>
							<i class="fa fa-envelope"></i> <%= details.email %>						
						</span>
					</li>
					<li>
						<ul class="list-inline social">
							<li><a href="<%= details.facebook %>"><i class="fa fa-facebook"></i></a></li>
							<li><a href="<%= details.twitter %>"><i class="fa fa-instagram"></i></a></li>
							<li><a href="<%= details.youtube %>"><i class="fa fa-youtube-play"></i></a></li>
							<li><a href="<%= details.linkedin %>"><i class="fa fa-linkedin"></i></a></li>
						</ul><!-- /.social -->
					</li>				
				</ul>
			</div><!-- /.right-info -->
		</div>		
	</div><!-- /.header-top -->

	<nav class="navbar navbar-default header-navigation stricky">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="/img/logo.png" alt="Awesome Image"/>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="main-nav-bar">
				

				<ul class="nav navbar-nav navigation-box">
					<li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <% categories.forEach((category) => { %>
					<li>
						<a href="#"><%= category.name %></a>
                           <% if(category.subcat.length > 1){ %>
                            <ul class="sub-menu">	
                                <div style="display: flex;">
                                    <% category.subcat.forEach((type) => { %>
                                    <ul class="make">				
                                        <p class = "text-center my-5 text-capitalize" style = "color: #fff;font-size: 18px; font-weight: 600;"><%= type.name %></p>
                                        <% type.subcat.forEach((tipe) => { %>
                                            <li><a href="/find/type/<%= tipe.slug %>"><%= tipe.name %></a></li>
                                        <% }) %>
                                    </ul>
                                    <% }) %>
                                </div>
                               </ul>
                           <% }else{ %>
                            <% category.subcat.forEach((type) => { %>	
                            <ul class="sub-menu">					
                                <p class = "text-center my-5 text-capitalize" style = "color: #fff;font-size: 18px; font-weight: 600;"><%= type.name %></p>	
                                <% type.subcat.forEach((tipe) => { %>
                                    <li><a href="/find/type/<%= tipe.slug %>"><%= tipe.name %></a></li>
                                <% }) %>
                            </ul><!-- /.sub-menu -->
                            <% }) %>
                            <% } %>
					    </li>
                        <% }) %>
					<li>
						<a href="/contact-us">Contact</a>
					</li>
				</ul>			
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>

</header><!-- /.header -->