<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LegalKaam</title>

	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<%- include("./partials/header.ejs") %>

<section class="inner-banner has-dot-pattern">
	<div class="container">
		<h2>We Are LegalKaam</h2>
		<p>Our Mission Is To Associate With Professionals<br/> And Support All Services Under One Roof !! </p>
		<span class="decor-line"></span>
		<ul class="list-inline bread-cumb">
			<li><a href="/">Home</a></li>
			<li><span>About Us</span></li>
		</ul><!-- /.list-inline -->
	</div><!-- /.container -->
</section><!-- /.inner-banner -->

<section class="about-video sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-tab-text-box">
                    <div class="qouted-text">                            
                        <p>
                            <span class="qoute-top">“</span>
                            <%= about.quote %>
                            <span class="qoute-bottom">”</span>
                        </p>                            
                    </div><!-- /.qouted-text -->
                    <br />
                    <br />
                    <p style="text-align: justify;"><%- about.desc %></p>
                    <img src="img/texture/sign.png" alt="Awesome Image"/>
                </div><!-- /.about-tab-text-box -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <img src="img/resources/about.jpg">
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-video sec-pad -->


<section class="service-box-three sec-pad pt0" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="single-service-box-three">
                    <div class="icon-box">
                        <i class="fn-icon-arrows"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h3>Mision</h3>
                        <p style="text-align: justify;">Our Mission Is To Associate With Professionals And Support All Services Under One Roof.</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-box-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3">
                <div class="single-service-box-three">
                    <div class="icon-box">
                        <i class="fn-icon-light"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h3>Vision</h3>
                        <p style="text-align: justify;">Our Vision Is To Grow Together, Equally, With Positive Spirit And Well Health.</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-box-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3"></div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-box-three -->

<section class="sec-pad team-section">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Our Expert Team</h2>
            <span class="decor-line">
                <span class="decor-line-inner"></span>
            </span>
        </div><!-- /.sec-title -->
        <div class="row">
            <% about.employees.forEach((employee) => { %>
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-3 col-sm-4">
                    <div class="single-team-member wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0">
                        <div class="img-box">
                            <img src="img/team/team-2.png" alt="" />
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.content -->
                                </div><!-- /.content -->
                            </div><!-- /.overlay -->
                        </div><!-- /.img-box -->
                        <div class="text-box">
                            <h3><%= employee.name %></h3>
                            <span><%= employee.designation %></span>
                            <p style="text-align: justify;"><%= employee.desc %></p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-team-member -->
                </div><!-- /.col-md-3 -->
            <% }) %>
            <div class="col-md-2 col-sm-2"></div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->


<section class="sec-pad two-color-overlay testi-choose-box" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="sec-title">
                    <h2>We Are Best At</h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                    <p>Our Mission is to associate with professionals and<br /> support all services under one roof.</p>
                </div><!-- /.sec-title -->
                <ul class="choose-us">
                    <li>
                        <div class="single-service-box-two clearfix">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <i class="fn-icon-technology"></i>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <i class="fn-icon-technology"></i>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                                
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Fast Response</h3>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-box-two -->
                    </li>
                    <li>
                        <div class="single-service-box-two clearfix">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <i class="fn-icon-statistical-chart"></i>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <i class="fn-icon-statistical-chart"></i>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                                
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Detailed Analysis</h3>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-box-two -->
                    </li>
                    <li>
                        <div class="single-service-box-two clearfix">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <i class="fn-icon-tool"></i>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <i class="fn-icon-tool"></i>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                                                                                
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Expertise Documentaion</h3>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-box-two -->
                    </li>
                </ul><!-- /.choose-us -->
            </div><!-- /.col-md-6 -->
            <%- include("./partials/testimonials.ejs") %>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad two-color-overlay -->

	
<footer class="footer has-dot-pattern sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget about-widget">
                    <a href="index.html"><img src="img/logo.png" alt="Awesome Image"/></a>						
                    <p style="text-align: justify;">LegalKaam is one stop solution for all your financial, legal and consulting needs. We are cost effective and efficient platform to help you in establishing or running your business without stressing about the day to day activities, compliances and taxation.</p>
                    
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget link-widget">
                    <div class="sec-title white medium">
                        <h2>Usefull Links</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <div class="clearfix">
                        <div class="col-md-6">
                            <ul class="links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">GST Regisration</a></li>
                                <li><a href="#">LLP Regisstration</a></li>
                                <li><a href="#">Property Matters</a></li>
                                <li><a href="#">Meet Team</a></li>
                            </ul><!-- /.links -->		
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <ul class="links">
                                <li><a href="#">Loans</a></li>
                                <li><a href="#">Import Export Code</a></li>
                                <li><a href="#">GST Filing</a></li>
                                <li><a href="#">Company Closing</a></li>
                                <li><a href="#">Preparation Of Reports</a></li>
                                <li><a href="#">ITR - 1 (Salaried)</a></li>
                            </ul><!-- /.links -->		
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                    
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget about-widget">
                    <div class="sec-title white medium">
                        <h2>Contact Us</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <ul class="contact-info">
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-map-marker"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p>ABCD, New Delhi, India</p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p>+91 999-090-5006</p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p>legalkaam@gmail.com</p>
                            </div><!-- /.text-box -->
                        </li>							
                    </ul>
                    <div class="social pull-left">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul><!-- /.list-inline -->
                    </div><!-- /.social pull-right -->
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- /.footer -->

<section class="footer-bottom">
    <div class="container">
        <div class="copyright">
            <p>© 2022 LegalKaam. All rights reserved.</p>
        </div><!-- /.copyright pull-left -->
    </div><!-- /.container -->
</section><!-- /.footer-bottom -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<!--WhatsApp-->
<div class="whatsapp">
    <a class="bounce" target="_blank" href="https://api.whatsapp.com/send?phone=+919990905006"><i class="fa fa-whatsapp "></i></a>
</div>

    <script src="assets/jquery/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<!-- revolution slider js -->
	<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>


	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="assets/gmaps.js"></script>
	<!-- google map helper -->  
	<script src="assets/map-helper.js"></script>

	<script src="assets/jquery-validation/dist/jquery.validate.min.js"></script>

	<script src="assets/owl.carousel-2/owl.carousel.min.js"></script>

	<script src="assets/nouislider/nouislider.js"></script>
	<script src="assets/bootstrap-touch-spin/jquery.bootstrap-touchspin.js"></script>

	<script src="assets/isotope.js"></script>

	<script src="assets/masterslider/masterslider.min.js"></script>

	<script src="assets/bxslider/dist/jquery.bxslider.min.js"></script>

	<script src="assets/chartjs/dist/Chart.min.js"></script>

	<script src="assets/jquery-circle-progress-1.1.2/dist/circle-progress.js"></script>
	<script src="assets/morris.js-master/morris.min.js"></script>
	<script src="assets/raphael-master/raphael.min.js"></script>

	<script src="assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>

	<script src="assets/waypoints.min.js"></script>
	<script src="assets/jquery.counterup.min.js"></script>

	<script src="assets/wow.min.js"></script>




	<script src="js/custom.js"></script>



</body>
</html>