<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LegalKaam</title>

	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<%- include("./partials/header.ejs") %>
<section class="services-section" style="margin: 25px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="red-box">
                                <i class="fa fa-building-o "></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-building-o "></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Private Limited Company Incorporation</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="green-box">
                                <i class="fa fa-bank"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-bank"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>LLP Registration</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="orange-box">
                                <i class="fa fa-registered"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-registered"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Partnership Firm Registration</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="pink-box">
                                <i class="fa fa-trademark"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-trademark"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Trademark</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="green-2-box">
                                <i class="fa fa-trophy"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-trophy"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>ISO</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="maroon-box">
                                <i class="fa fa-cutlery"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-cutlery"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>FSSAI</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="purple-box">
                                <i class="fa fa-gavel"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-gavel"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Compliances</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="green-3-box">
                                <i class="fa fa-calculator"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-calculator"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Taxation</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="skin-box">
                                <i class="fa fa-shopping-cart"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-shopping-cart"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Sale Purchase of Company</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="pink-2-box">
                                <i class="fa fa-plus-square"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-plus-square"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Microfinance- Deals in New & Existing</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="grey-box">
                                <i class="fa fa-handshake-o"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fa fa-handshake-o"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>NBFC- Deals in Existing & New</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="our-services-main wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-offset="0">
                    <a href="services.html">
                    <div class="icon-box">
                        <div class="inner-box">
                            <div class="mehndi-box">
                                <i class="fn-icon-tool-1"></i>
                            </div><!-- /.top-box -->
                            <div class="bottom-box">
                                <i class="fn-icon-tool-1"></i>
                            </div><!-- /.bottom-box -->                            
                        </div><!-- /.inner-box -->                        
                    </div>
                    <div class="text-box">
                        <h3>Loan</h3>
                    </div><!-- /.text-box -->
                    </a>
                </div><!-- /.our-services-main -->
            </div><!-- /.col-md-3 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->

<section class="qoute-box  text-center" style="margin-top: 100px;">
    <div class="container">
        <div class="qoute-content">
            <h3>We Are Proud to Say, LegalKaam is Best Personal Financial Advisor.</h3>
        </div><!-- /.qoute-content -->
    </div><!-- /.container -->
</section><!-- /.qoute-box -->

<section class="sec-pad fact-req-qoute-sec"  style="margin-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="fact-box">
                    <div class="sec-title">
                        <h2>Why Choose Us</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <div class="row fact-row">
                        <% home.chooseus.forEach((choose) => { %>
                            <div class="col-sm-6">
                                <div class="single-fact-count">
                                    <div class="title clearfix">
                                        <i class="<%= choose.icon %>"></i>                                  
                                    </div><!-- /.title -->
                                    <p><%= choose.title %></p>
                                </div><!-- /.single-fact-count -->
                            </div><!-- /.col-md-6 -->
                        <% }) %>
                    </div><!-- /.row -->
                </div><!-- /.fact-box -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="fact-box" >
                    <div class="video-box">
                        <img src="img/resources/video-bg.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content text-center">
                                    <a class="video-popup" href="<%= home.youtube %>>"><img src="img/texture/play-btn.png" alt="Awesome Image"/></a>
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.video-box -->
                </div>
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->

<section class="sec-pad-70 pb0 latest-project base-color-bg">
    <div class="container-fulid ">
        <div class="sec-title text-center white">
            <h2>We Help You Make Your Life Easier!</h2>
            <span class="decor-line">
                <span class="decor-line-inner"></span>
            </span>
            <p>&nbsp;</p>
        </div><!-- /.sec-title -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->
<section class="sec-pad team-section">
    <div class="container">
        <div class="row">
			<% home.features.forEach((feature, index) => { %>
                <div class="col-md-3 col-sm-6">
                    <div class="step-service-page-box" style=" height: 350px !important; ">
                        <div class="icon-box">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <span class="fa-stack" style="font-size: 50px; margin-top: -10px;">
                                            <span class="fa fa-circle-o fa-stack-2x"></span>
                                            <strong class="fa-stack-1x">
                                                <%= index+1 %>  
                                            </strong>
                                        </span>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <span class="fa-stack" style="color: white; font-size: 50px; margin-top: -10px;">
                                            <span class="fa fa-circle-o fa-stack-2x"></span>
                                            <strong class="fa-stack-1x">
                                                <%= index+1 %>   
                                            </strong>
                                        </span>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                        
                            </div>                    
                        </div>
                        <div class="title">
                            <h3><%= feature.head %></h3>
                            <span class="decor-line"></span>
                        </div><!-- /.title -->
                        <p><%= feature.desc %></p>
                    </div><!-- /.single-service-page-box -->
                </div><!-- /.col-md-4 -->
            <% }) %>
   		</div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->
<section class="project-cta">
    <div class="container">
        <div class="left-text pull-left">
            <h3>Did you like our work flow? If you want to connect with us, Please contact our team.</h3>
        </div><!-- /.left-text -->
        <div class="right-button pull-right">
            <a href="/contact-us" class="thm-btn">Contact Team</a>
        </div><!-- /.right-button pull-right -->
    </div><!-- /.container -->
</section><!-- /.project-cta -->


<section class="sec-pad fact-req-qoute-sec" style="margin-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="rqa-box">
                    <div class="sec-title">
                        <h2>Request a Call Back</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <form class="contact-form" action = "/add/query/" method = "post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-grp">
                                    <label>Your Name*</label>
                                    <input type="text" name="name" placeholder="Your Name *" />
                                </div><!-- /.form-grp -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-12">
                                <div class="form-grp">
                                    <label>Email Address*</label>
                                    <input type="text" name="email" placeholder="Email Address *" />
                                </div><!-- /.form-grp -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-12">
                                <div class="form-grp">
                                    <label>Contact Number*</label>
                                    <input type="number" name="contact" placeholder="Phone" />
                                </div><!-- /.form-grp -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-12">
                                <button type="submit" class="thm-btn">Submit Now</button>

                                <div class="form-result"></div><!-- /.form-result -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </form>
                </div><!-- /.rqa-box -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-7">
                <div class="fact-box">
                    <div class="sec-title">
                        <h2>Some Important Services</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <p style="text-align: justify;">Whole Business Online is one stop solution for all your financial, legal and consulting needs. We are cost effective and efficient platform to help you in establishing or running your business without stressing about the day to day activities, compliances and taxation.</p>
                    <div class="row fact-row">
                    <div class="text-box" style=" margin-left: 20px; ">
                        <div class="col-sm-6">
                            <ul class="list-box">
                                <li><span><a href="services.html">Changing of Registered Office</a></span></li>
                                <li><span><a href="services.html">Appointment of Director</a></span></li>
                                <li><span><a href="services.html">Share Transfer to Another Person</a></span></li>
                                <li><span><a href="services.html">Company Wind Up</a></span></li>
                                <li><span><a href="services.html">MOA Amendment</a></span></li>
                                <li><span><a href="services.html">Digital Signature</a></span></li>  
                                <li><span><a href="services.html">Accounting Software</a></span></li>
                                <li><span><a href="services.html">Proprietorship Registration</a></span></li>
                                <li><span><a href="services.html">GST Return Filing</a></span></li>                                
                            </ul>
                        </div><!-- /.col-md-6 -->
                        <div class="col-sm-6">
                            <ul class="list-box">
                                <li><span><a href="services.html">Changing of Company Name</a></span></li>
                                <li><span><a href="services.html">Authorized Capital Increase</a></span></li>
                                <li><span><a href="services.html">Annual Return Filling for LLP</a></span></li>
                                <li><span><a href="services.html">LLP Wind Up</a></span></li>
                                <li><span><a href="services.html">TAN (TDS Deduction)</a></span></li>
                                <li><span><a href="services.html">PAN (Income Tax)</a></span></li>  
                                <li><span><a href="services.html">Franchise</a></span></li>
                                <li><span><a href="services.html">GST Registration</a></span></li>
                                <li><span><a href="services.html">ITR - 1 (Salaried)</a></span></li>
                            </ul>
                        </div><!-- /.col-md-6 -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.fact-box -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->


<section class="sec-pad two-color-overlay testi-choose-box">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="sec-title">
                    <h2>We Are Best At</h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                    <p>Our Mission is to associate with professionals and<br /> support all services under one roof.</p>
                </div><!-- /.sec-title -->
                <ul class="choose-us">
                    <li>
                        <div class="single-service-box-two clearfix">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <i class="fn-icon-technology"></i>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <i class="fn-icon-technology"></i>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                                
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Fast Response</h3>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-box-two -->
                    </li>
                    <li>
                        <div class="single-service-box-two clearfix">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <i class="fn-icon-statistical-chart"></i>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <i class="fn-icon-statistical-chart"></i>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                                
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Detailed Analysis</h3>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-box-two -->
                    </li>
                    <li>
                        <div class="single-service-box-two clearfix">
                            <div class="icon-box">
                                <div class="inner-box">
                                    <div class="top-box">
                                        <i class="fn-icon-tool"></i>
                                    </div><!-- /.top-box -->
                                    <div class="bottom-box">
                                        <i class="fn-icon-tool"></i>
                                    </div><!-- /.bottom-box -->                            
                                </div><!-- /.inner-box -->                                                                                
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Expertise Documentaion</h3>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-box-two -->
                    </li>
                </ul><!-- /.choose-us -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-7 pull-right col-sm-12">
                <div class="sec-title">
                    <h2>Customer Testimonials</h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                </div><!-- /.sec-title -->
                <div class="testimonial-home">
                    <div class="testimonila-home-carousel owl-carousel owl-theme">
                        <% home.testimonials.forEach((testimonial) => { %>
                            <div class="item">
                                <div class="single-testimonial-home">
                                    <i class="fn-icon-quotation-mark"></i>
                                    <p><%= testimonial.quote %></p>
                                    <div class="name-box">
                                        <div class="icon-box">
                                            <img src="img/resources/testi-1.png" alt="Awesome Image"/>
                                        </div><!-- /.icon-box -->
                                        <div class="text-box">
                                            <h4><%= testimonial.name %></h4>
                                            <span><%= testimonial.designation %></span>
                                        </div><!-- /.text-box -->
                                    </div><!-- /.name-box -->
                                </div><!-- /.single-testimonial-home -->
                            </div><!-- /.item -->
                        <% }) %>
                    </div><!-- /.testimonila-home-carousel owl-carousel owl-theme -->
                </div><!-- /.testimonial-home -->
            </div><!-- /.col-md-6 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad two-color-overlay -->

<section class="sec-pad service-box-one" style="margin-bottom: 100px;">
    <div class="container">
        <div class="sec-title text-left">
            <h2>We Are Proud</h2>
            <span class="decor-line">
                <span class="decor-line-inner"></span>
            </span>
        </div><!-- /.sec-title -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-service-box-one">
                    <div class="icon-box">
                        <i class="fa fa-trophy"></i>
                    </div><!-- /.icon-box -->
                    <div class="title-box clearfix">
                        <div class="title">
                            <h3>Recognized By Govt. Of India</h3>
                        </div><!-- /.title -->
                    </div><!-- /.title-box -->
                </div><!-- /.service-box-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-service-box-one">
                    <div class="icon-box">
                        <i class="fa fa-shield"></i>
                    </div><!-- /.icon-box -->
                    <div class="title-box clearfix">
                        <div class="title">
                            <h3>Data Securities and Trust</h3>
                        </div><!-- /.title -->
                    </div><!-- /.title-box -->
                </div><!-- /.service-box-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-service-box-one">
                    <div class="icon-box">
                        <i class="fa fa-users"></i>
                    </div><!-- /.icon-box -->
                    <div class="title-box clearfix">
                        <div class="title">
                            <h3>1 Lakh+ Happy Customers</h3>
                        </div><!-- /.title -->
                    </div><!-- /.title-box -->
                </div><!-- /.service-box-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-service-box-one">
                    <div class="icon-box">
                        <i class="fa fa-rupee"></i>
                    </div><!-- /.icon-box -->
                    <div class="title-box clearfix">
                        <div class="titlet">
                            <h3>Affordable than Other Professionals</h3>
                        </div><!-- /.title -->
                    </div><!-- /.title-box -->
                </div><!-- /.service-box-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad service-box-one -->
	
<%- include("./partials/bottom.ejs") %>
	
	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    <!--WhatsApp-->
    <div class="whatsapp">
        <a class="bounce" target="_blank" href="https://api.whatsapp.com/send?phone=+919990905006"><i class="fa fa-whatsapp "></i></a>
    </div>


	<script src="assets/jquery/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<!-- revolution slider js -->
	<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>


	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="assets/gmaps.js"></script>
	<!-- google map helper -->  
	<script src="assets/map-helper.js"></script>

	<script src="assets/jquery-validation/dist/jquery.validate.min.js"></script>

	<script src="assets/owl.carousel-2/owl.carousel.min.js"></script>

	<script src="assets/nouislider/nouislider.js"></script>
	<script src="assets/bootstrap-touch-spin/jquery.bootstrap-touchspin.js"></script>

	<script src="assets/isotope.js"></script>

	<script src="assets/masterslider/masterslider.min.js"></script>

	<script src="assets/bxslider/dist/jquery.bxslider.min.js"></script>

	<script src="assets/chartjs/dist/Chart.min.js"></script>

	<script src="assets/jquery-circle-progress-1.1.2/dist/circle-progress.js"></script>
	<script src="assets/morris.js-master/morris.min.js"></script>
	<script src="assets/raphael-master/raphael.min.js"></script>

	<script src="assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>

	<script src="assets/waypoints.min.js"></script>
	<script src="assets/jquery.counterup.min.js"></script>

	<script src="assets/wow.min.js"></script>

	<script src="./js/custom.js"></script>
<!-- <script>
$(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $('#startdate').attr('min', maxDate);
});
</script> -->


</body>
</html>