<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LegalKaam</title>

	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<%- include("./partials/header.ejs") %>
<% if(hasSuccess){ %>
    <% _.forEach(messages, (success) => { %> 
    <div class = "alert alert-success text-center" style = "margin-bottom: -5px;">
      <a href = "#" class = "close" data-dismiss = "alert" aria-label="close">&times;</a>
          <%= success %>
    </div>
    <% }) %>
<% } %>
<section class="inner-banner has-dot-pattern" style = "padding: 50px 0px">
	<div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="rqa-box">
                            <form class="contact-form" action = "/add/query/" method = "post" style = "background: rgba(0, 0, 0, 0.2)">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <input type="text" name="id" value = "<%= type._id %>" hidden/>
                                        <div class="form-grp">
                                            <label>Your Name*</label>
                                            <input type="text" name="name" placeholder="Your Name *" required/>
                                        </div><!-- /.form-grp -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-grp">
                                            <label>Contact Number*</label>
                                            <input type="tel" name="contact" placeholder="Your Number *" required/>
                                        </div><!-- /.form-grp -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-12">
                                        <div class="form-grp">
                                            <label>Email Address*</label>
                                            <input type="email" name="email" placeholder="Email Address *" required/>
                                        </div><!-- /.form-grp -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-12">
                                        <div class="form-grp">
                                            <textarea name="message" placeholder="Message*"></textarea>							
                                        </div><!-- /.form-grp -->
                                        <button type="submit" class="thm-btn btn-block">Get a Callback</button>
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                            </form>
                        </div><!-- /.rqa-box -->
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-7 col-sm-7 col-xs-12 d-flex align-items-center">
                        <div class="">
                            <h2 style = "line-height: 40px;font-size: 30px;"><%= type.name %></h2>
                            <hr>
                            <p>Our Mission Is To Associate With Professionals
                                And Support All Services Under One Roof !!</p>
                            <!-- <span class="decor-line">
                                <span class="decor-line-inner"></span>
                            </span> -->
                            <p class = "my-3" style = "font-size: 25px;margin: 20px 0"><small>Rs.</small><%= type.subs %> Onwards <span style = "font-size: 15px;">*All Inclusive (Fees & Taxes)*</span></p>
                            <div class="price-features" style = "margin: 0">
                                <% benefits.forEach((benefit) => { %>
                                    <div class="price-feature">
                                        <i class="fa fa-check"></i>
                                        <span><%= benefit %></span>
                                    </div>
                                <% }) %>
                                <a href="/contact-us/#enquiry" type="submit" class="btn btn-primary btn-lg" style = "margin: 20px 0">BOOK NOW</a>
                            </div>
                        </div><!-- /.sec-title -->      
                    </div>
                 </div>
                    
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.inner-banner -->

<!-- <section class="sec-pad price-query-box" style="animation: scale 0.65s ease;">
    
</section>/.sec-pad two-color-overlay -->


<section class="sec-pad service-row-section">
    <div class="container">
        <div class="sec-title text-center">
            <h2><%= type.name %></h2>
            <span class="decor-line">
                <span class="decor-line-inner"></span>
            </span>
        </div>
        <div class="row" style=" margin-top: 60px; ">
            <div class="col-md-1 col-sm-6" style="display: none;"></div> 
            <% steps.forEach((step, index) => { %>
                <% if(step != ''){ %>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-count-page-box" style=" height: 150px !important; ">
                            <div class="icon-box">
                                <div class="icon-box">
                                    <div class="inner-box">
                                        <div class="top-box">
                                            <span class="fa-stack" style="font-size: 50px; margin-top: -10px;">
                                                <span class="fa fa-circle-o fa-stack-2x"></span>
                                                <strong class="fa-stack-1x">
                                                    <%= index + 1 %>
                                                </strong>
                                            </span>
                                        </div><!-- /.top-box -->
                                        <div class="bottom-box">
                                            <span class="fa-stack" style="font-size: 50px; margin-top: -10px;">
                                                <span class="fa fa-circle-o fa-stack-2x"></span>
                                                <strong class="fa-stack-1x">
                                                   <%= index + 1 %>  
                                                </strong>
                                            </span>
                                        </div><!-- /.bottom-box -->                            
                                    </div><!-- /.inner-box -->                        
                                </div>                     
                            </div>
                            <div class="title">
                                <h3><%- step %></h3>
                            </div><!-- /.title -->
                        </div><!-- /.service-count-page-box -->
                    </div><!-- /.col-md-4 -->
                <% } %>
            <% }) %>
            <div class="col-md-1 col-sm-6" style="display: none;"></div> 
   		</div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->


<section class="sec-pad requirement-document-box">
    <div class="container">
        <div class="row" style="margin-top: -40px;">
            <div class="col-md-4 col-sm-12">
                <div class="sec-title text-center">
                    <h2>Requirements</h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                </div><!-- /.sec-title -->
                <%- type.desc %>
            </div><!-- /.col-md-6 -->
            <div class="col-md-8 pull-right col-sm-12">
                <div class="sec-title text-center">
                    <h2>Documents</h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                </div><!-- /.sec-title -->
                <div class="row">
                    <% documents.forEach((document) => { %>
                        <div class="col-md-6 col-xs-12">
                            <div class="sub-sec-title text-center">
                                <h2><%= document.title %></h2>
                            </div><!-- /.sec-title -->
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt"><%- document.desc %></p>
                    </div>
                    <% }) %>
                </div>
            </div><!-- /.col-md-6 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad two-color-overlay -->

<section class="sec-pad service-page-feature">
	<div class="container">
        <div class="sec-title text-center">
            <h2>Basic Features of <%= type.name %></h2>
            <span class="decor-line">
                <span class="decor-line-inner"></span>
            </span>
        </div>
		<div class="row masonary-layout filter-layout">
			<% features.forEach((feature) => { %>
              <% if(feature != '' && feature.desc != ''){ %>  
                <div class="col-md-4 col-sm-6 col-xs-12" style="border: 2px solid #3563a9; padding-bottom: 30px;">
                    <div class="single-project-item">
                        <div class="single-service-page-box">
                            <div class="sec-title text-center">
                                <% if(feature.head == ''){ %>
                                    <h2 class = "text-center">No Title</h2>
                                <% }else{ %>
                                    <h2><%= feature.head %></h2>
                                <% } %>
                                <span class="decor-line">
                                    <span class="decor-line-inner"></span>
                                </span>
                            </div>
                            <% if(feature.desc == ''){ %>
                                <h5 class = "text-center">No Description</h5>
                            <% }else{ %>
                                <p style = "margin-top: -65px;"><%- feature.desc %></p>
                            <% } %>
                        </div><!-- /.single-service-page-box -->
                    </div><!-- /.single-project-item -->
                </div><!-- /.col-md-4 -->
              <% } %>  
            <% }) %>
		</div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->



<section class="service-imp sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h2>Important Notes</h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                </div>
                <div class="service-imp-box">
                    <%- type.important %>
                </div><!-- /.about-tab-text-box -->
            </div><!-- /.col-md-6 -->
          
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-video sec-pad -->

	
<%- include("./partials/bottom.ejs") %>
	
	<script src="/assets/jquery/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<!-- revolution slider js -->
	<script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>


	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/assets/gmaps.js"></script>
	<!-- google map helper -->  
	<script src="/assets/map-helper.js"></script>

	<script src="/assets/jquery-validation/dist/jquery.validate.min.js"></script>

	<script src="/assets/owl.carousel-2/owl.carousel.min.js"></script>

	<script src="/assets/nouislider/nouislider.js"></script>
	<script src="/assets/bootstrap-touch-spin/jquery.bootstrap-touchspin.js"></script>

	<script src="/assets/isotope.js"></script>

	<script src="/assets/masterslider/masterslider.min.js"></script>

	<script src="/assets/bxslider/dist/jquery.bxslider.min.js"></script>

	<script src="/assets/chartjs/dist/Chart.min.js"></script>

	<script src="/assets/jquery-circle-progress-1.1.2/dist/circle-progress.js"></script>
	<script src="/assets/morris.js-master/morris.min.js"></script>
	<script src="/assets/raphael-master/raphael.min.js"></script>

	<script src="/assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>

	<script src="/assets/waypoints.min.js"></script>
	<script src="/assets/jquery.counterup.min.js"></script>

	<script src="/assets/wow.min.js"></script>

	<script src="/js/custom.js"></script>
</body>
</html>