<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LegalKaam</title>

	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include("./partials/meta.ejs") %>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html, body{
			width: 100%;
			overflow-x: hidden;
		}
	</style>
</head>
<body>

<%- include("./partials/header.ejs") %>

<section class="inner-banner has-dot-pattern">
	<div class="container">
		<h2>We Are LegalKaam</h2>
		<p>Our Mission Is To Associate With Professionals<br/> And Support All Services Under One Roof !! </p>
		<span class="decor-line"></span>
		<ul class="list-inline bread-cumb">
			<li><a href="/">Home</a></li>
			<li><span class = "text-capitalize"><%= term.type.replaceAll('-', ' ') %></span></li>
		</ul><!-- /.list-inline -->
	</div><!-- /.container -->
</section><!-- /.inner-banner -->



<section class="sec-pad" style="margin-bottom: 60px;">
    <div class="container">
        <div class="row" style = "margin: 0 10px;">
            <div class="fact-box">
                <div class="sec-title text-center">
                    <h2 class = "text-capitalize"><%= term.type.replaceAll('-', ' ') %></h2>
                    <span class="decor-line">
                        <span class="decor-line-inner"></span>
                    </span>
                </div><!-- /.sec-title -->
                <p style="text-align: justify; color: #333;">
                    <%- term.desc %>
                </p>
                <div class="row fact-row">
                <div class="text-box">
                    <div class="col-sm-12">
                        <ul class="list-box">
							<% term.points.forEach((point) => { %>
								<% if(point != ''){ %>
                            		<li><span><%= point.point %></span></li>  
								<% } %>
							<% }) %>	                       
                        </ul>
                    </div><!-- /.col-md-6 -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.fact-box -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.sec-pad -->

	<%- include("./partials/bottom.ejs") %>

	<script src="/assets/jquery/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<!-- revolution slider js -->
	<script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>


	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/assets/gmaps.js"></script>
	<!-- google map helper -->  
	<script src="/assets/map-helper.js"></script>

	<script src="/assets/jquery-validation/dist/jquery.validate.min.js"></script>

	<script src="/assets/owl.carousel-2/owl.carousel.min.js"></script>

	<script src="/assets/nouislider/nouislider.js"></script>
	<script src="/assets/bootstrap-touch-spin/jquery.bootstrap-touchspin.js"></script>

	<script src="/assets/isotope.js"></script>

	<script src="/assets/masterslider/masterslider.min.js"></script>

	<script src="/assets/bxslider/dist/jquery.bxslider.min.js"></script>

	<script src="/assets/chartjs/dist/Chart.min.js"></script>

	<script src="/assets/jquery-circle-progress-1.1.2/dist/circle-progress.js"></script>
	<script src="/assets/morris.js-master/morris.min.js"></script>
	<script src="/assets/raphael-master/raphael.min.js"></script>

	<script src="/assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>

	<script src="/assets/waypoints.min.js"></script>
	<script src="/assets/jquery.counterup.min.js"></script>

	<script src="/assets/wow.min.js"></script>

	<script src="/js/custom.js"></script>
<!-- <script>
$(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $('#startdate').attr('min', maxDate);
});
</script> -->


</body>
</html>